<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <a href="/"> home</a>
            <a href="/users/create">create user</a>
            <a href="/boards/create">create board</a>
        </nav>
        {{{body}}}
    </body>
</html>
