<h1>create board</h1>

<div>
    <form action='/boards/create' method='POST'>
        <label>Name</label>
        <input type='text' name = 'name' required/><br>
        <label>description</label>
        <input type='text' name ='description' required/><br>
        <button>submit</button>
    </form>
</div>
