<h1>create user</h1>

<div>
    <form action='/users/create' method='POST'>
        <label>Username</label>
        <input type='text' name = 'username' required/><br>
        <label>Avatar URL</label>
        <input type='url' name ='avatar' required/><br>
        <button>submit</button>
    </form>
</div>
