* {
    padding: 0;
    margin: 0;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  z-index: -1;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}




/* --------PROFILE PAGE--------- */
.jumbotron {
  display: flex;
  align-items: center;
  justify-content: left;    
}

.avatar-box {
  height: 150px;
  width: 150px;
  margin: 0px 0px 0px 30px;
  border-radius: 50%;
  box-shadow: 1px 1px 15px -5px black;
  overflow: hidden;
}

.profile-pic {
  height: 100%;
  width: 100%;
}

.tasks-boards-flexbox {
  margin: 30px;
}

.flexbox-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45px;
  font-size: 28px;
  font-weight: 500;
}

.flexbox-row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border: 1px dashed black;
}

.tasks-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  align-items: center;
  flex-wrap: wrap;
 
}

.boards-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
 
}