* {
  padding: 0;
  margin: 0;
}

.display-4 {
  font-family: 'PT Sans Caption', sans-serif;
}

.base {
  background-color: rgb(0, 121, 191);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  display: grid;
  grid-template-rows: max-content auto;
  grid-gap: 10px;
  height: 100%;
  padding: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.navbar-brand {
  font-family: 'Sansita Swashed', cursive;
}

.btn.btn-secondary{
margin: 2px;
appearance: none;
-webkit-appearance: none;
padding: 2.5px;
background-color: #3f51b5;
color: #fff;
font-weight: 600;
border-radius: 5px;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  z-index: -1;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.card-body:hover {
  background-color: rgb(243, 243, 243);
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.card-body {
  border-radius: 25px;
  padding: 15px;
  outline: none;
}

.card {
  padding: 13px;
  margin: 30px;
  border-radius: 10px;
  border: solid #98cace 5px;
}

.card.border-0 {
  padding: 13px;
  margin: 5px;
  border-radius: 10px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: solid #98cace 2px;
}

.username2 {
  margin-left: 20px;
}

.username3 {
  margin-left: 2px;
  width: 18%;
}

.popupbtn {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

.popupbtnhome {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  border: none;
  background-color: #276190;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  width: 5%;

  margin: 8px;
  margin-bottom: 80px;
}
.some-class {
  width: 200px;
  padding: 20px;
}

input[name="name"] {
  padding: 5px;
  margin: 6px;
  border-radius: 5px;
}

input[name="username"] {
  padding: 5px;
  margin: 6px;
  border-radius: 5px;
}

input[name="taskName"] {
  padding: 5px;
  margin: 6px;
  border-radius: 5px;
}

input[name="taskDescription"] {
  padding: 5px;
  margin: 6px;
  border-radius: 5px;
}

input[name="description"] {
  padding: 5px;
  margin: 6px;
  border-radius: 5px;
}

input[type="date"] {
  padding: 5px;
  margin: 6px;
  border-radius: 5px;
}

input[type="url"] {
  padding: 5px;
  margin: 6px;
  border-radius: 5px;
}

.navbar-toggler-icon {
  z-index: 20;
}

/* --------PROFILE PAGE--------- */
.jumbotron {
  display: flex;
  align-items: center;
  justify-content: left;
}

.avatar-box {
  height: 150px;
  width: 150px;
  margin: 0px 0px 0px 30px;
  border-radius: 50%;
  box-shadow: 1px 1px 15px -5px black;
  overflow: hidden;
}

.profile-pic {
  height: 100%;
  width: 100%;
}

.tasks-boards-flexbox {
  margin: 30px;
}

.flexbox-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45px;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.flexbox-row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.tasks-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  align-items: center;
}

.boards-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  text-align: center;
  align-items: center;
}

.cardbodyass {
  padding: 0.5px;
}

.card1 {
  padding: 0.5px;

  border-radius: 5px;
  margin: 5px;
}

.todo-column1 {
  display: flex;
  flex-direction: column;
  height: 150px;
  align-items: center;
  margin: 10px;
  border: solid #98cace 5px;
  border-radius: 20px;
}

/*---------BOARD PAGE--------- */
.todo-column {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  margin: ;
}

.inprogress-column {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
}

.done-column {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
}

.avatar-box-board {
  height: 2rem;
  width: 2rem;
  margin: 0px 0px 0px 30px;
  border-radius: 50%;
  box-shadow: 1px 1px 15px -5px black;
  overflow: hidden;
}






/* grey container on homepage */
.boards-container {
  background-color: gray;
  margin: 30px;
  border-radius: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
